<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <!-- Diagram View -->
   <extension point="org.eclipse.ui.views">
      <category
            name="Context Model"
            id="ch.uzh.ifi.seal.contextmodels">
      </category>
      <view
            name="Context Model"
            icon="src/icons/contextModel.gif"
            category="ch.uzh.ifi.seal.contextmodels"
            class="ch.uzh.ifi.seal.contextmodels.view.DiagramView"
            id="ch.uzh.ifi.seal.contextmodels.view.DiagramView">
      </view>
      <view
            category="ch.uzh.ifi.seal.contextmodels"
            class="ch.uzh.ifi.seal.contextmodels.view.ContextModelView"
            icon="src/icons/contextModel.gif"
            id="ch.uzh.ifi.seal.contextmodels.view.contextmodelview"
            name="Context Model View"
            restorable="true">
      </view>
   </extension>
   <extension point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               id="ch.uzh.ifi.seal.contextmodels.view.DiagramView"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.ProblemView"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:ch.uzh.ifi.seal.contextmodels.view.DiagramView?after=additions">
         <command
               commandId="org.eclipse.ui.file.refresh"
               mnemonic="%contributions.view.refresh.mnemonic">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:ch.uzh.ifi.seal.contextmodels.view.DiagramView?after=additions">
         <command
               commandId="ch.uzh.ifi.seal.contextmodels.evaluate"
               icon="src/icons/contextModel.gif">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:ch.uzh.ifi.seal.contextmodels.view.DiagramView?after=additions">
         <command
               commandId="ch.uzh.ifi.seal.contextmodels.evaluate2"
               icon="src/icons/contextModel.gif">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:ch.uzh.ifi.seal.contextmodels.view.DiagramView?after=additions">
         <command
               commandId="ch.uzh.ifi.seal.contextmodels.evaluate3"
               icon="src/icons/contextModel.gif">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:ch.uzh.ifi.seal.contextmodels.view.DiagramView?after=additions">
         <command
               commandId="ch.uzh.ifi.seal.contextmodels.evaluate4"
               icon="src/icons/contextModel.gif">
         </command>
      </menuContribution>
   </extension>
   <extension point="org.eclipse.ui.handlers">
      <handler
            class="ch.uzh.ifi.seal.contextmodels.actions.RefreshAction"
            commandId="org.eclipse.ui.file.refresh">
      </handler>
    </extension>
    <!-- Evaluation MenuItem -->
    <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="ch.uzh.ifi.seal.contextmodels.actions.EvaluateAction"
            id="ch.uzh.ifi.seal.contextmodels.evaluate"
            name="Evaluate">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="ch.uzh.ifi.seal.contextmodels.actions.EvaluateAction2"
            id="ch.uzh.ifi.seal.contextmodels.evaluate2"
            name="Evaluate2">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="ch.uzh.ifi.seal.contextmodels.actions.EvaluateAction3"
            id="ch.uzh.ifi.seal.contextmodels.evaluate3"
            name="Evaluate3">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="ch.uzh.ifi.seal.contextmodels.actions.EvaluateAction4"
            id="ch.uzh.ifi.seal.contextmodels.evaluate4"
            name="Evaluate4">
      </command>
   </extension>
    
   
   <!-- StartupHook -->
   
   <extension point="org.eclipse.ui.startup">
     <startup class="ch.uzh.ifi.seal.contextmodels.trackers.StartupHook" />
   </extension>
   
   <!-- Menu -->
   
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution locationURI="popup:org.eclipse.jdt.ui.PackageExplorer">
         <command
               commandId="ch.uzh.ifi.seal.contextmodels.add"
               label="Add to Diagram"
               style="push">
	        <visibleWhen checkEnabled="false">
	           <with variable="activeMenuSelection">
	              <iterate ifEmpty="false" operator="or">
	                 <adapt type="org.eclipse.jdt.core.ICompilationUnit">
	                 </adapt>
	              </iterate>
	           </with>
	        </visibleWhen>
         </command>
         </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="ch.uzh.ifi.seal.contextmodels.actions.AddToDiagramAction"
            id="ch.uzh.ifi.seal.contextmodels.add"
            name="AddToDiagram">
      </command>
   </extension>
   
   <!-- Help -->
   
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>

</plugin>
